@charset "UTF-8";
@import "../css/reset.css";
@import "../css/layout.css";

/*
	common.css 공통요소 (클래스 한개로 제어) 안에 있는 스타일은 [단일 클래스] 입니다. 
	공통요소와 함께 쓰신다면 다중클래스로 지정해서 사용하시길 바랍니다.
	수정시 공통요소 참고 /guide/guide.html
*/

/* 섹션별 */
.sect_conb1:last-child{margin-bottom:0 !important;}
.sect_conb1{margin-bottom:72px;}
.sect_conb2{margin-bottom:62px;}
.sect_conb3{margin-bottom:48px;}
.sect_conb4{margin-bottom:48px;}
.sect_conb5{margin-bottom:25px;}

/* 타이틀 */
.tit_area{margin-bottom:10px;display:flex;justify-content:space-between;line-height:1.3;align-items:center;}
.comtit1{font-size:26px;font-weight:700;letter-spacing:-0.03em;color:#333}
/*.comtit2{font-size:28px;font-weight:700;letter-spacing:-0.03em;color:#333}*/

/* 아이콘, 탭, 버튼 공통 이미지 */
.comico, .comtab{display:inline-block;vertical-align:middle;background:0 0 no-repeat;color:transparent;font-size:1px;line-height:0.5;}
/* 탭 */
.comtab{width:45px;}
.comtab.menu1{width:45px;}
.comtab.menu2{width:45px;}
.comtab.menu5{width:48px;}
.comtab.menu6{width:40px;}
.comtab.menu7{width:40px;}
.comtab.menu8{width:46px;}
/* 공통아이콘 */
.comico + .txt{margin-left:6px;display:inline-block;vertical-align:middle}
.comico.search{width:19px;height:19px;background-position:-60px 0;}
.comico[class*=rate]{background:url(../img/common/icon_rate.png) 0 0 no-repeat;background-size:108px auto;}
.comico.rategr{width:20px;height:19px;background-position:0 -24px;}
.comico.rateyl{width:20px;height:19px;background-position:0 0;}
.comico.rategrfiv{width:108px;height:19px;background-position:0 -24px;}
.comico.rateylfiv{width:108px;height:19px;background-position:0 0;}
.comico.rateylS{width:16px;height:16px;background-position:0 0;background-size:90px auto;}
.comico.rategrSfiv{width:90px;height:16px;background-position:0 -20px;background-size:90px auto;}
.comico.rateylSfiv{width:90px;height:16px;background-position:0 0;background-size:90px auto;}
.comico.lctMwh{width:14px;}
.comico.lctSgr{width:10px;}
.comico.lctLgr{width:25px;}
.comico.arr_next_mdgr, .comico.arr_prev_mdgr{width:18px;height:30px;}
.comico.arr_next_lgwh, .comico.arr_prev_lgwh{width:24px;}
.comico.arr_next_mdwh, .comico.arr_prev_mdwh{width:16px;}
.comico.arr_next_smgr, .comico.arr_prev_smgr{width:6px;}
.comico[class*='arr_next_'] img{transform:rotate(180deg);transform-origin:50% 50%}
.comico.arr_r_smgr{width:6px;height:14px}
.comico.arr_up_mdgr{width:20px;}
.comico.arr_down_mdgr{width:20px;}
.comico.arr_up_mdgr2{width:24px;}
.comico.arr_down_mdgr2{width:23px;}
.comico[class*='arr_down_'] img, .comico[class*='arr_up_'].on img{transform:rotate(180deg);}
.comico.allmenu{width:18px}

/* 갤러리형태 */
.gallerys .itm{display:inline-block;}
.gallerys .img{display:block;transition:transform 0.4s;}
.gallerys .temp_img{position:relative;}
.gallerys .temp_img:after{content: '';display:block;position:absolute;top:0;left: 0;width: 100%;height:100%;opacity:0;background-color:rgba(255,255,255,0.3);transition:all 0.3s;}
.gallerys .itmlink:hover .temp_img:after{opacity:1;}
.gallerys .temp_img {overflow:hidden;}
.gallerys .itmlink {position: relative;display:block;border-radius:10px;box-shadow:0px 4px 6px rgba(184, 184, 184, 0.25);color:#333;overflow:hidden;}
.gallerys .gal_tit {margin-bottom:8px;font-size:14px;font-weight:700;}
.gallerys .txtlist {font-size:12px;font-weight:400;line-height:1.84;letter-spacing:-0.03em;color:#8B8B8B;}
.gallerys .price{font-size:14px;font-weight:500;line-height:24px;letter-spacing:-0.03em;color:#4F4F4F;}
.gallerys .infomt{position:relative;margin:11px 14px;}
.gallerys .infomt .rating{position:absolute;top:0;right:0;}
.gallerys .infomt .txt_desc{border-top:1px dashed #E0E0E0;margin-top:11px;padding-top:12px;line-height:2;font-size:12px;color:#8B8B8B;}
.gallerys .infomt .txt_desc.lineno{border-top:none;margin-top:0;padding-top:0;}
.gallerys.sty1 .itmlink {background:#fff;}
.gallerys.sty2 .itmlink {position:relative;}
.gallerys.sty2 .gal_tit {margin-bottom:0;}
.gallerys.sty2 .infomt{display:flex;align-items:center;justify-content:space-between;position:absolute;left:0;right:0;bottom:0;}
.gallerys.sty2 .gal_tit .txt {margin:0 3px 0 0;font-weight:300;font-size:20px;letter-spacing:-0.03em;color:#fff}
.gallerys.sty2 .lct_num .num{font-size:16px;font-weight:300;color:#fff;}

/* 평점 */
.rating{display:flex;font-size:12px;}
.rating .rateyl{width:14px;height:13px;}
.rating .rategrSfiv{position:relative;}
.rating .rateylSfiv{position:absolute;height:100%;}
.rating .txtnum{padding-left:3px;font-weight:500;color:#828282;}

/* 슬라이더 컨트롤러가 컨텐츠밖으로 나가있는 케이스 */
.ctr_outside{position:relative;}
.ctr_outside .arr_next_mdgr{right:-46px}
.ctr_outside .arr_prev_mdgr{left:-46px} /* box-shadow */
.ctr_outside .swiper{padding-bottom:10px;} /* box-shadow */

/* 인디케이터 기본색상 */
.swiper-pagination{width:100%;line-height:1;font-size:1px;}
.swiper-pagination .swiper-pagination-bullet{background:#fff;margin:0 4px;}

/* 버튼요소 */
.btnarea{display:flex;align-items:center;}
.btnarea.right{justify-content:flex-end}
.btnarea.center{justify-content:center}
.btnarea .btncom{margin:0 3px;}
.btnarea .btncom:first-child{margin-left:0 !important}
.btnarea .btncom:last-child{margin-right:0 !important}
.btncom {display:inline-flex;text-align:center;justify-content:center;vertical-align:middle;align-content:center;align-items:center;}
.btncom.sty1{border-radius:10px;border:1px solid #F51B4E;color:#F51B4E;font-size:14px;font-weight:600;}
/*.btncom.sty2{background:#fff;border:1px solid #676767;color:#666}*/
.btncom.sizeS{height:42px;padding:2px 10px;font-size:14px;}

/* 태그 */
.tag_area .tags{display:inline-block;padding:0 10px;margin-right:4px;}
.tags.tag1{background:#F51B4E;border-radius:5px;font-weight:500;height:34px;font-size:15px;line-height:34px;color:#fff}

/* 리스트스타일 (a | a) */
.txtlist .titm{display:inline-block;padding-right:7px;line-height:1.84;color:#4F4F4F;font-weight:500;}
.txtlist .titm:after{content:'';display:inline-block;height:0.7em;border-left:1px solid #8B8B8B;margin-left:10px;vertical-align:middle;}
.txtlist .titm:last-child{padding-right:0;}
.txtlist .titm:last-child:after{display:none;}

/* 도트리스트 */
.dotlist .titm{position:relative;}
.dotlist .titm:first-child{margin-top:0 !important}
.dotlist.sty1 .titm{padding-left:18px;margin-top:16px;font-size:18px;color:#4f4f4f}
.dotlist.sty1 .titm:before{content:'';position:absolute;left:0;top:7px;display:block;width:8px;height:8px;background-color:#F51B4E;}
.dotlist.sty2 .titm{padding-left:26px;margin-top:10px;font-size:24px;color:#4F4F4F}
.dotlist.sty2 .titm.pointCol1{color:#EB5757}
.dotlist.sty2 .titm:before{content:'';position:absolute;left:5px;top:14px;display:block;width:5px;height:5px;background-color:#4F4F4F;border-radius:50px;}

/* 테이블스타일1 (dl>dt+dd구조) */
.tblst .rows{display:table;width:100%;}
.tblst .row_tit, .tblst .row_desc{display:table-cell;padding-top:20px;padding-bottom:20px;color:#4F4F4F;}
.tblst .row_tit{width:135px;padding-right:20px;white-space:nowrap;font-weight:600;font-size:24px;vertical-align:top;}
.tblst .row_desc{font-size:24px;color:#4F4F4F;}

/* 테이블스타일2 (tbl_cols)*/
.tbl_cols .tbl{table-layout:fixed;}
.tbl_cols thead > tr{background-color:#EBEBEB}
.tbl_cols tbody > tr{background-color:#fff;border-bottom:1px solid #E0E0E0;}
.tbl_cols .tit, .tbl_cols .desc{font-size:14px;color:#4F4F4F;text-align:center;height:70px;padding:10px;}
.tbl_cols .tit{font-weight:600;}
.tbl_cols .subject{text-align:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}

/* toggle_box */
.tgbox{overflow:hidden;border-radius:10px;border:1px solid #E0E0E0;}
.tgbox .tit_area{background:#EAEAEA;margin:0;}
.tgbox .tit_area .comtit1{display:block;padding:21px 30px;font-size:20px;color:#333333;}
.tgbox .btn_tg{padding:18px 30px;}
.tgbox .tg_cont .tgitm{display:flex;justify-content:space-between;padding:18px 30px;border-top:1px solid #DDDDDD;font-weight:500;font-size:20px;color:#929292;}
.tgbox .tg_cont .tgitm:first-child{border-top:none}
.tgbox .tg_cont .left{font-family:Noto Sans KR;}
.tgbox .tg_cont .price{padding-right:14px;font-weight:500;font-size:24px;letter-spacing:-0.02em;color:#F51B4E;font-family:Noto Sans KR;}
.tgbox .tg_cont .price .won{font-size:14px;vertical-align:middle;padding-left:2px;}
.tgbox .tg_cont .del{position:relative;font-weight:400;font-size:14px;letter-spacing:-0.02em;color:#828282;text-decoration:none;font-family:Noto Sans KR;}
.tgbox .tg_cont .del:before{content:'';position:absolute;top:50%;left:0;width:100%;display:block;border-top:1px solid #828282;}
.tgbox .tg_cont .del .won{font-size:12px;vertical-align:middle;}

/* sort */
.sort_wrap .selects{display:inline-block;padding:0 20px 0 8px;margin-left:20px;width:auto;appearance:none;font-size:16px;color:#000;border:none;background:transparent url(../img/common/comm_select_arr1.png) 100% 50% no-repeat;background-size:auto 6px;}
.sort_wrap .selects::-ms-expand {display:none}

/* pagination */
.pagination{margin-top:36px;text-align:center;}
.pagination .comico{vertical-align:top;padding-top:9px}
.pagination .link{display:inline-block;width:32px;height:32px;line-height:31px;margin:0 -2px;border:1px solid #E0E0E0;border-right:none;font-size:12px;background-color:#fff;color:#828282}
.pagination .link:last-child{border-right:1px solid #E0E0E0;}
.pagination .link.on{color:#F51B4E}
.pagination .btn_pg_prev{}
.pagination .btn_pg_next{}

/* tab_box.sty1 */
.tab_link{display:flex;align-items:center;justify-content:space-between;}
.tab_link .itm{flex:1;text-align:center;}
.tab_link .itmlink{position:relative;display:block;padding:25px 10px;font-size:24px;color:#4F4F4F;}
.tab_link .itmlink:after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;display:block;border-bottom:1px solid #E0E0E0;}
.tab_link .on .itmlink{color:#F51B4E;}
.tab_link .on .itmlink:after{border-bottom:3px solid #F51B4E}
.tab_target{display:none;}
.tab_target.on{display:block;}

@media (max-width:820px) {
	.sect_conb1{margin-bottom:32px;}
	.sect_conb2{margin-bottom:32px;}
	.sect_conb3{margin-bottom:26px;}
	.sect_conb4{margin-bottom:18px;}
	.sect_conb5{margin-bottom:16px;}

	.comtab{width:28px;}
	.comtab.menu1{width:28px}
	.comtab.menu2{width:28px}
	.comtab.menu5{width:32px}
	.comtab.menu6{width:31px}
	.comtab.menu7{width:31px}
	.comtab.menu8{width:32px}
	.comtab.menu10{width:30px}
	.comico.boticon01{width:18px;height:18px;}
	.comico.boticon02{width:24px;height:16px;}
	.comico.boticon03{width:18px;height:18px;}
	.comico.boticon04{width:18px;height:20px;}
	.comico.boticon05{width:20px;height:20px;}
	.comico.arr_r_smgr{width:5px;height:12px;}
	.comico.lctLgr{width:14px;}
	.comico.arr_up_mdgr2{width:12px}

	.comtit1{font-size:16px;font-weight:700;letter-spacing:-0.03em;color:#333}
	
	.tblst .rows{display:flex;justify-content:flex-start;margin-bottom:15px;}
	.tblst .rows:last-child{margin-bottom:0;}
	.tblst .row_tit, .tblst .row_desc{display:block;padding-top:0;padding-bottom:0;font-size:14px;}
	.tblst .row_tit{width:100px;}
	.tblst .row_desc{width:100%;}

	.tag_area .tags{padding:0 9px;}
	.tags.tag1{font-weight:600;font-size:12px;line-height:30px;height:30px;}

	.sort_wrap .selects{font-size:12px;}

	.ctr_outside .swiper-control{display:none;}

	.dotlist.sty1 .titm{font-size:14px;margin-top:12px}
	.dotlist.sty1 .titm:before{top:6px}

	.tab_link .itmlink{display:block;padding:13px 10px;font-size:14px;}

	.dotlist.sty2 .titm{font-size:12px;padding-left:15px;margin-top:6px}
	.dotlist.sty2 .titm:before{width:3px;height:3px;top:7px;}

	.tgbox .tit_area .comtit1{padding:11px 16px;font-size:14px;}
	.tgbox .btn_tg{display:none;}
	.tgbox .tg_cont{display:block !important;}
	.tgbox .tg_cont .tgitm{padding:10px 30px;font-size:14px;}
	.tgbox .tg_cont .price{font-size:15px;}
	.tgbox .tg_cont .price .won{font-size:11px;}
	.tgbox .tg_cont .del{font-size:11px;}
	.tgbox .tg_cont .del .won{font-size:10px;}

	.tbl_cols .tit, .tbl_cols .desc{height:48px;}
	.tbl_cols .tit{font-size:11px;}
	.tbl_cols .desc{font-size:12px;}
}

@media (max-width:480px) {
	.m_no{display:none;}

	.comtab{width:20px;}
	.comtab.menu1{width:20px}
	.comtab.menu2{width:20px}
	.comtab.menu5{width:24px}
	.comtab.menu6{width:23px}
	.comtab.menu7{width:23px}
	.comtab.menu8{width:24px}
	.comtab.menu10{width:22px}
	.comico.rategrSfiv{width:14px;height:15px;background-position:0px -16px;background-size:77px auto;background:none;}
	.comico.rateylSfiv{width:14px !important;height:15px;background-position:0px 1px;background-size:77px auto;}

	.ctr_outside .swiper-slide{width:213px;}

	.tbl_cols .tit, .tbl_cols .desc{padding-left:17px;padding-right:17px;}
	.tbl_cols .colw4{width:40%}

	.tblst .rows{margin-bottom:15px;}
	.tblst .row_tit, .tblst .row_desc{display:block;padding-top:0;padding-bottom:0;font-size:14px;}
	.tblst .row_tit{margin-bottom:10px;}
	.tblst .rows.block{display:block;}
}

